

p {
    font-family: Lato;
  }
  
  #root {
    padding: 30px;
  }
  
  .register-form {
    max-width: 450px;
    margin: auto;
    border:1px solid lightgray;
    padding: 10px;
    border-radius: 10px;
  }